# Python bytecode & Environment
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
env/
venv/

# System & IDE files
.DS_Store
.vscode/
.idea/
*.swp

# Environment & Secrets
.env
*.env

# Temporary scratch folder & Log files
scratch/
*.log
data/raw_logs/access.log
